h2,
p {
	font-family: "tisa-pro", serif;
}

#bubble-con {
	span {
		cursor: pointer;
	}
}

#bubble-chart {
	// width: 300px;
	// height: 300px;
	text {
		font-family: 'relative-book'
	}
}

circle {
	fill: #333;
	opacity: 0.3;
	stroke: white;
}

h2 {
	@media (max-width: $bp-small) {
		color: green;
	}

	@media (min-width: $bp-small) and (max-width: $bp-med) {
		color: red;
	}
}

p {
	@media (max-width: $bp-small) {
		font-size: 0.8em;
	}

	@media (min-width: $bp-small) and (max-width: $bp-med) {
		font-size: 1.1em;
	}
}