text {
	pointer-events: none;
}

.screen__wrapper {
	margin: auto;
	@media (min-width: $bp-med) {
		max-width: $bp-large;
		
	}

	&>div {
		@media (max-width: $bp-med) {
			width: 100%;
			margin: $margin-small 0;
		}

		@media (min-width: $bp-med) {
			display: flex;
			// flex-direction: column;
			justify-content: space-between;
			// width: 100%;
			flex: 1 1 100%;
			margin: $margin-small;
			margin-top: $margin-large;
			// margin: $margin-small auto;
		}
	}
}

#data-incident, #data-her {
	// display: flex;
	// flex-direction: column;
	// // justify-content: center;
	// align-items: center;

	color: $main-black;

	img {
		@media (max-width: $bp-med) {
			height: 1.3em;
			margin: 0.5em 0;
		}
		@media (min-width: $bp-med) {
			height: 2em;
			// max-height: 26px;
			margin: 0.5em 0;
			margin-bottom: 2em;
		}
	}

	&> section {
		// @media (max-width: $bp-med) {
			margin: $margin-small;
		// }

		// @media (min-width: $bp-med) {
		// 	margin: 0;
		// }
	}

	.button--default {
		width: 100%;
	}
}

#bubble-chart,
#her-chart {
	@media (max-width: $bp-med) {
		height: 350px;
		max-width: 90vw;
	}

	@media (max-width: $bp-small) {
		margin-left: calc(#{$margin-small}/2);		
	}
	
	@media (min-width: $bp-small) and (max-width: $bp-med) {
		margin-left: $margin-small;
		// margin-left: calc(#{$margin-small}/2);
	}

	@media (min-width: $bp-med) {
		height: 400px;
		width: 400px;
	}	
	
	@media (min-width: $bp-large) {
		height: 500px;
		width: 500px;
	}	
	
	// @media (min-width: $bp-med) and (max-width: $bp-large) {
	// 	height: 400px;
	// 	width: 400px;
	// }	

}

#bubble-chart {
	&>img {
		@media (max-width: $bp-med) {
			height: 32px;
		}
	}

	text {
		font-family: "relative-book";
		font-size: 1em;
		font-weight: 100;
		fill: #fff;
	}

	g:nth-of-type(1) {
		stroke-width: 2px;
		// stroke: $main-gray;
		stroke: $light-gray;
		circle {
			fill: #fff;
		}
	}
}

.data__info {
	background: $light-gray;
	border-radius: $border-radius;
	padding: $margin-small;
	
	@media (max-width: $bp-med) {
		// width: 100%;
		// margin: $margin-small;
	}

	div {
		display: flex;
		@media (max-width: $bp-med) {
			flex-wrap: wrap;
			align-content: center;
			justify-content: space-between;
		}
		@media (min-width: $bp-med) {
			flex-direction: column;
			flex: 1;
		}
	}

	ul {
		margin-top: 1em;
	}

	li {
		padding: .5em 0;
		width: 8em;
	}
}

.data__info--bubble {
	ul >:last-child {
		margin-top: 1em;
		border-top: 1px solid $main-black;
		padding-top: 1em;
		// color: red;
		// text-align: center;
	}
}

.data__info--group {
	@media (max-width: $bp-med) {
		flex: 1;
		// width: 100%;
		margin: $margin-small 0;
	}

	@media (min-width: $bp-med) {
		flex: 1;
		margin-left: $margin-large;
	}
}

.data__cat {
	display: flex;
	flex-direction: column;
	border: none;
}