// Font are used for De Monitor KRO/NCRV (licensed)
@font-face {
	font-family: relative-bold;
	src: url(https://demonitor.kro-ncrv.nl/fonts/Relative-Bold.otf);
}

@font-face {
	font-family: relative-medium;
	src: url(https://demonitor.kro-ncrv.nl/fonts/Relative-Medium.otf);
}

@font-face {
	font-family: relative-book;
	src: url(https://demonitor.kro-ncrv.nl/fonts/Relative-Book.otf);
}

@font-face {
	font-family: tisa-pro;
	src: url(https://demonitor.kro-ncrv.nl/fonts/TissaProRegular.otf);
}

@font-face {
	font-family: tisa-pro-i;
	src: url(https://demonitor.kro-ncrv.nl/fonts/TissaProRegularItalic.otf);
}

@font-face {
	font-family: tisa-pro-bold;
	src: url(https://demonitor.kro-ncrv.nl/fonts/TissaProBold.otf);
}