h2,
p,
li {
	font-family: "tisa-pro", serif;
	font-weight: 100;
}

h3 {
	font-family: "relative-bold";
}

h5 {
	font-family: 'relative-medium';
}

h2 {
	@media (max-width: $bp-small) {
		font-size: 1.6em;
	}

	@media (min-width: $bp-small) and (max-width: $bp-med) {}
}

h3 {
	// @media (max-width: $bp-small) {
	// @media (max-width: $bp-small) {
		font-size: 1.2em;
	// }

	// @media (min-width: $bp-small) and (max-width: $bp-med) {}
}


p {
	@media (max-width: $bp-small) {
		font-size: 0.9em;
	}

	@media (min-width: $bp-small) and (max-width: $bp-med) {
		font-size: 1.1em;
	}
}

b {
	font-family: "relative-bold";
	font-weight: 700;
}


svg {
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
	visibility: hidden;
}

//	For test purposes only button
.button--test {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

// To remove 'required' elements from screen e.g. radiobuttons
.outside {
	// position: absolute;
	// top: -99999px;
}


button,input {
    &.button--default {
        // settings van de kro
        border-radius: 5px;
        align-items: center;
        min-width: 66px;
        height: 50px;
        padding: 0 20px 2px;
        outline: none;
        line-height: 1;
        background: $main-blue;
        color: $main-white;
        cursor: pointer;
        border: 1px solid transparent;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        margin-top: $margin-article-text-elements;
        font-family: "relative-medium";
        font-size: 1em;
        font-weight: 100;

        @media (max-width: $bp-med) {
            width: 100%;
		  }
		  
    }
    
    &:disabled {
        background: $main-gray;
	 }
	 
	 &.button--full-width {
		 width: 100%;
	 }

    &.button__select {
        background: $light-gray;
        color: $main-black;
    }
    &.button__select--selected {
        background: $main-orange;
        color: $main-white;
    }
}


body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	main {
		#article-container {
			position: relative;
			top: 0;
			left: 0;

			&.animation-active {
				transition: left 1s;
			}

			&>#website-intro,
			&>#end-note,
			&>#blur-info {
				&:not(.data-vis) {
					&>svg {
						position: absolute;
						height: auto;
						z-index: -10;
						
						&:nth-of-type(1) {
							@media (min-width: $bp-med) {
								transform: scale(.7);
							}
						}
						
						&:nth-of-type(2) {
							bottom: 0;
							top: unset;
							@media (max-width: $bp-med) {
								transform: scale(1.5);
							}
						}
					}
				}
			}

			&>#blur-info {
				&>.text-field {
					@media (max-width: $bp-small) {
						padding: 1em;
					}
				}
			}
		
			> article {
				box-sizing: border-box;                
				position: absolute;
				width: 100vw;
				height: 100vh;
				top: 0;
				overflow: hidden;
				@for $i from 1 to 30 {
					&:nth-child(#{$i}) {
						left: 100vw * ($i - 1);
					}
				}

				&.show-overflow {
					// height: 100%;
					// height: auto;
					overflow-y: scroll;
				}

				// not for data visualisatie
				&:not(.data-vis) {
				// default propertisch
					h2 {
						font-size: 1.5em;
						font-family: "relative-bold";
						margin-bottom: $margin-article-text-elements;
					}
					
					// background svg
					> svg { 
						position: absolute;
						top: 0;
						left: 0;
						pointer-events: none;
					}

					section {
						// overlay section (blue overlay)
	
						// text content section
						&:not(.overlay) {
							border-radius: $border-radius;
							background-color: rgb(240, 241, 241);
							padding: 25px 50px;
							max-width: 30em;
							margin: 1em;

							.button--go-to-next-article {
								&:hover {
									opacity: .8;
								}
							}
						}

						&.text-field {
							@media (max-width: $bp-med) {
								margin: calc(#{$margin-small} / 2);
							}
							@media (min-width: $bp-med) {
								// margin: $margin-small;
								margin: $margin-large auto;
							}
							// max-width: 100%;
							// width: 100%;
						}
					}

				}

				// for data visualisatie
				&.data-vis {
					section {
						box-sizing: border-box;

						@media (max-width: $bp-small) {
							max-width: 30em;
							margin: $margin-small;
						}

						@media (min-width: $bp-small) { // and (max-width: $bp-med)
							margin: 0 $margin-small;
						}
					
						h2 {
							font-size: 2em;
							font-family: "tisa-pro";
							margin-bottom: $margin-article-text-elements;
						}

						.wrapper {
							position: relative;
							overflow-y: hidden;

							// mobile
							@media (max-width: $bp-small) {
								&:not(.wrapper--not-expand) {

									// disable the gradient and the expander button
									.hide-text-gradient, .button--expander {
										display: none;
										visibility: hidden;
									}

									// enable the de-expander button
									.button--de-expander {
										background: rgba(0,0,0,0) url("../assets/icons/readLessArrow.svg") no-repeat; 
										background-position: center center;
										background-size: 1em;                                        
										height: 2rem;
										bottom: 0;
										left: 0;
										width: 100%;  

										border: none;
										border-bottom: 1px solid $main-black;
										cursor: pointer;
									}
								}
								&.wrapper--not-expand {

									// disable the de-expander button
									.button--de-expander {
										display: none;
										visibility: hidden;                                   
									}

									// enable the gradient and the expander button
									height: 4.3em;

									.button--expander, .hide-text-gradient {
										position: absolute;
									}

									.button--expander {
										background: rgba(0,0,0,0) url("../assets/icons/readMoreArrow.svg") no-repeat; 
										background-position: center bottom;
										background-size: 1em;

										height: 2rem;
										bottom: 0;
										left: 0;
										width: 100%;
										border: none;
										
										cursor: pointer;
										color: $main-blue;
									}



									.hide-text-gradient {
										top: 0;
										left: 0;
										height: 100%;
										width: 100%;
										pointer-events: none;
									/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+8,1+77 */
										background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 8%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
										background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 8%,rgba(255,255,255,1) 77%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
										background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 8%,rgba(255,255,255,1) 77%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
										filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
									}
								}
							}

							// bigger than mobile
							@media (min-width: $bp-small) {
								.hide-text-gradient, .button--expander, .button--de-expander {
									display: none;
									visibility: hidden;
								}

							}

						}
					}
				}




				p {
					color: $main-black;
					margin-bottom: $margin-paragraph-elements;
					line-height: 1.4em;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
    }
    footer {
        

        position: absolute;
        bottom: 0;
        left: 0;
        @media (max-width: $bp-small) {
            &.disabled {
                visibility: hidden;
                display: none;
            }

            width: 100%;
            // height: 100%;
            #item-menu {

                &.closed {
                    #item-menu__overlay, #item-menu__form {
                        display: none;
                        visibility: hidden;
                    }
                }
                &:not(.closed) {
                    #item-menu__overlay {
                        width: 100vw;
                        height: 100vh;
                        position: absolute;
                        bottom: 0;
                        background-color: rgba(0,0,0,0.5);
                    }
                    #item-menu__form {
                        bottom: calc(5vmin + 3rem);
                        
                        width: 80vw;
                        max-height: 75vh;
                        padding: 5vmin;


                        overflow-y: scroll;



                        fieldset {
                            width: 100%;
                            legend {
                                padding: 0 0 5vmin 0;
                            }
                            > div {
                                

                                flex-wrap: wrap;
                                justify-content: space-between;

                                span {
                                    margin-bottom: 5vmin;
                                }
                                span, label {
                                    display: block;
                                    height: 35vmin;
                                    width: 35vmin;
                                }
                                label {

                                }
                                input:checked + label {

                                }
                            }
                        }
                    }
                }
            }
        }

        @media (min-width: $bp-small) {
            #item-menu {
                transition: transform 1s;
            }
            &.disabled #item-menu {
                transform: translate(0, 30vw);
            }
            #item-menu__form fieldset > div span {
                margin-right: 1em;
            }
        }

        #item-menu__form {
            position: absolute;
            bottom: 5vmin;
            left: 5vmin;
            fieldset {
                legend {
                    color: white;
                    font-family: "relative-medium";
                    margin-bottom: 2.5vmin;
                }
                > div {
                    display: flex;
                    span {
                        input {
                            display: none;
                            visibility: hidden;
                        }

                        input:focus {
                            outline: none;
                        }


                        
                        border-radius: $border-radius;
                        
                        border: 2px solid white;
                        overflow: hidden;

                        label {
                            transform: scale(1.1); // fixing blur edges
                        }

                        span, label {
                            display: block;
                        }

                        input:disabled + label {
                            
                            background-color:$main-blue;
                            
                        }

                        input.blur + label {
                            filter: blur(3px);
                            
                        }

                        label {
                            background-color: white;
                        }

                        input[value="license-plate"] + label {
                            background: rgba(0,0,0,0) url("../assets/items/nummerbord.png") no-repeat; 
                            background-position: center center;
                            background-size: cover;
                        }

                        input[value="throw-beer"] + label {
                            background: rgba(0,0,0,0) url("../assets/items/verdachte.png") no-repeat; 
                            background-position: center center;
                            background-size: cover;
                        }

                        input[value="house-num"] + label {
                            background: rgba(0,0,0,0) url("../assets/items/huisnummer.png") no-repeat; 
                            background-position: center center;
                            background-size: cover;
                        }

                        input[value="route-2"] + label {
                            background: rgba(0,0,0,0) url("../assets/items/bord.png") no-repeat; 
                            background-position: center center;
                            background-size: cover;
                        }

                        input[value="house"] + label {
                            background: rgba(0,0,0,0) url("../assets/items/huis.png") no-repeat; 
                            background-position: center center;
                            background-size: cover;
                        }

                        input[value="neighbor"] + label {
                            background: rgba(0,0,0,0) url("../assets/items/buurtbewoner.png") no-repeat; 
                            background-position: center center;
                            background-size: cover;
                        }

                        // input:checked + label {
                        //     background-color: orange;
                        // }
                    }
                }
            }
            @media (max-width: $bp-small) {
                margin: auto;
                background-color: $main-blue;
                border-radius: $border-radius;

            }
            @media (min-width: $bp-small) {
                display: flex;
                label {
                    height: 3rem;
                    width: 3rem;
                }
            }
        }




        #item-menu__button {
            @media (max-width: $bp-small) {
                background: rgba(0,0,0,0) url("../assets/icons/reselect.svg") no-repeat; 
                background-position: center center;
                height: 3em;
                width: 3em;
                border: none;
                position: absolute;
                bottom: 5vmin;
                left: 5vmin;
            }
            @media (min-width: $bp-small) {
                display: none;
                visibility: hidden;
            }
        }
    }
}


/////////////
// overlay //


article {
    $overlay-effect-size: 200vmax;
    position: relative;
    .overlay {
        height: 100%;
        width: 100%;
        
        article {
            position: absolute;
            z-index: 10;
            p {
                
                background-color: white;
                padding: 1em;

            }

            @media (max-width: $bp-small) {
                width: calc(100vw - 10vmin);
                margin-left: 5vmin;
            }

            @media (min-width: $bp-small) {

            }

            img {
                position: absolute;
                bottom: -1em;
                height: 1em;
                pointer-events: none;
            }
        }

    }
    .overlay-effect {
        span {
            position: absolute;
            display: flex;

            width: 120%;
            left: -10%;
            // @media (max-width: $bp-small) {
            //     width: 60vmin;
            // }
            // @media (min-width: $bp-small) and (max-width: $bp-med) {
            //     width: 50vmin;
            // }

            // @media (min-width: $bp-med) {
            //     width: 40vh;
            // }

            &.on-top {
                top: calc(-2rem - #{$default-button-height});
            }
            &:not(.on-top) {
                bottom: calc(-2rem - #{$default-button-height});
            }
            
            button.button--default {

                background-color: #ffa101;
                &:disabled {
                  background-color: $main-gray; 
                  color: white;
                }
                display: block;
                margin: 0;
                text-align: center;
                font-size: 80%;
                &:not(:last-of-type) {
                    margin-right: 1em;
                    
                }
                flex-grow: 1;
                padding: 0;
            }
        }
        transition: left 0.5s, right 0.5s, height 0.5s, width 0.5s, transform 0.5s;

        height: $overlay-effect-size;
        width: $overlay-effect-size;
        border: 200vmax solid $main-blue;
        border-radius: 50%;
        // pointer-events: none;
        position: absolute;
        left: -250vmax;
        top: -250vmax;
        &.overlay-effect--focus {
            @media (max-width: $bp-small) {
                height: 60vmin;
                width: 60vmin;
            }
            @media (min-width: $bp-small) and (max-width: $bp-med) {
                height: 50vmin;
                width: 50vmin;
            }

            @media (min-width: $bp-med) {
                height: 40vh;
                width: 40vh;
            }
        }
        &.overlay-effect--fill {
            height: 0;
            width: 0;
            
            @media (max-width: $bp-small) {
                transform: translate(30vmin, 30vmin);
            }
            @media (min-width: $bp-small) and (max-width: $bp-med) {
                transform: translate(25vmin, 25vmin);
            }

            @media (min-width: $bp-med) {
                transform: translate(25vh, 25vh);
            }
            span {
                display: none;
                visibility: hidden;
            }
        }
    }

    &#route-2 {
        .overlay-effect {
            &.overlay-effect--focus {
                @media (max-width: $bp-small) {
                    left: calc(-200vmax + 50vw - 30vmin);
                    top: calc(-200vmax + 90vh - 60vmin);
                }

                @media (min-width: $bp-small) and (max-width: $bp-med) {
                    left: calc(-200vmax + 50vw - 25vmin);
                    top: calc(-200vmax + 90vh - 50vmin);
                }
                @media (min-width: $bp-med) {
                    left: calc(-200vmax + 100vw - 70vh);
                    top: calc(-200vmax + 100vh - 44vh);
                }
            } 
        }
    }
    &#house {
        .overlay-effect {
            &.overlay-effect--focus {
                @media (max-width: $bp-small) {
                    left: calc(-200vmax + 60vw - 30vmin);
                    top: calc(-200vmax + 55vh - 30vmin);
                }

                @media (min-width: $bp-small) and (max-width: $bp-med) {
                    left: calc(-200vmax + 70vw - 25vmin);
                    top: calc(-200vmax + 80vh - 50vmin);
                }
                @media (min-width: $bp-med) {
                    left: calc(-200vmax + 100vw - 50vh);
                    top: calc(-200vmax + 80vh - 40vh);
                }                
            }
        }       
    }
    &#house-num {
        .overlay-effect {
            &.overlay-effect--focus {
                @media (max-width: $bp-small) {
                    left: calc(-200vmax + 48vw - 30vmin);
                    top: calc(-200vmax + 18vh - 30vmin);
                }

                @media (min-width: $bp-small) and (max-width: $bp-med) {
                    left: calc(-200vmax + 52vw - 25vmin);
                    top: calc(-200vmax + 50vh - 50vmin);
                }
                @media (min-width: $bp-med) {
                    left: calc(-200vmax + 58vw - 20vh);
                    top: calc(-200vmax + 20vh - 20vh);
                }                
            }
        }       
    }
    &#throw-beer {
        .overlay-effect {
            &.overlay-effect--focus {
                @media (max-width: $bp-small) {
                    left: calc(-200vmax + 63vw - 30vmin);
                    top: calc(-200vmax + 24vh - 30vmin);
                }

                @media (min-width: $bp-small) and (max-width: $bp-med) {
                    left: calc(-200vmax + 70vw - 25vmin);
                    top: calc(-200vmax + 50vh - 50vmin);
                }
                @media (min-width: $bp-med) {
                    left: calc(-200vmax + 85vw - 20vh);
                    top: calc(-200vmax + 20vh - 20vh);
                }                
            }
        }  
    }
    &#license-plate {
        .overlay-effect {
            &.overlay-effect--focus {
                @media (max-width: $bp-small) {
                    left: calc(-200vmax + 50vw - 30vmin);
                    top: calc(-200vmax + 38vh - 30vmin);
                }

                @media (min-width: $bp-small) and (max-width: $bp-med) {
                    left: calc(-200vmax + 51vw - 25vmin);
                    top: calc(-200vmax + 40vh - 25vmin);
                }
                @media (min-width: $bp-med) {
                    left: calc(-200vmax + 43vw - 20vh);
                    top: calc(-200vmax + 60vh - 20vh);
                }                
            }
        }  
    }
    &#neighbor {
        .overlay-effect {
            &.overlay-effect--focus {
                @media (max-width: $bp-small) {
                    left: calc(-200vmax + 40vw - 30vmin);
                    top: calc(-200vmax + 32vh - 30vmin);
                }

                @media (min-width: $bp-small) and (max-width: $bp-med) {
                    left: calc(-200vmax + 40vw - 25vmin);
                    top: calc(-200vmax + 40vh - 25vmin);
                }
                @media (min-width: $bp-med) {
                    left: calc(-200vmax + 35vw - 20vh);
                    top: calc(-200vmax + 37vh - 20vh);
                }                
            }
        }  
    }
}

// overlay //
/////////////



// .text-field {
// 	margin: auto;
// }

// For the title choose page
.title__choose {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (max-width: $bp-large) {
		padding: 2em;
	}

	&>div {
		display: flex;
		flex-direction: column;
		max-width: 45em;
	}

	h2 {
		text-align: center;
	}

	input {
		@media (min-width: $bp-med) {
			width: auto;
		   align-self: center;
	   }
	}
	
	.title__info {
		margin-top: .5em;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
	}

	.title__info--open {
		max-height: 5em; // A high value to show the content again
	}
}

.card__blur {
	display: flex;
	margin-bottom: 2em;
	// &:not(:first-of-type) {
	// 	margin-top: $margin-small;
	// }

	img {
		width: 5em;
		height: 5em;
		margin-right: $margin-small;
	}

	p {
		margin: 0 !important; // No idea how to overwrite it otherwise
	}

}