main {
    $min-button-height: 3rem;
    height: 100vh;
    width: 100vw;
    position: relative;
    > header {
        height: 30vh;
        width: 100vw;
    }
    > section {
        position: absolute;

        height: 100vh;
        width: 100vw;

        z-index: -1;
        top: 0;
        left: 0;
    }
    > footer {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20vh;
        width: 100vw;
        form {
            margin: auto;
            width: 90vmin;
            height: $min-button-height;
            display: flex;
            > span {
                display: block;
                flex-grow: 1;
                flex-shrink: 1;
                input {
                    display: none;
                }
                label {
                    margin: auto;
                    width: $min-button-height;
                    height: $min-button-height;
                    display: block;
                    border-radius: 50%;
                    border: 1px solid black;
                    cursor: pointer;
                }
                input:checked + label {
                    border: 1px solid orange;
                }
            }
        }
        > #go-to-videos-wrapper {
            position: absolute;
            top: 0;
            right: 0;
            width: calc(50vw - 45vmin);
            button {

                display: block;
                margin: auto;
                height: $min-button-height;
                width: $min-button-height;
                cursor: pointer;
            }
        }
    }
}
