$main-blue: #1ac5e3;
$main-orange: #ffa101;
$main-black: #485253;
$main-gray: #919898;
$light-gray: #F0F1F1;
$main-white: #fff;
$dark-orange: #cc8001;

$bp-small: 30em;
$bp-med: 45em;
$bp-large: 70em;

$margin-article-text-elements: 1.5625rem; // for all others
$margin-paragraph-elements: 1em; // for p only

$margin-small: 1.5em; // for both margin & padding
$margin-large: 2em; // or center all with a default (horizontal)margin


$border-radius: 5px;

$default-button-height: 50px;

