$main-blue: #1ac5e3;
$main-orange: #ffa101;
$main-black: #485253;
$main-gray: #919898;
$main-white: #fff;
$dark-orange: #cc8001;

$bp-small: 30em;
$bp-med: 45em;
$bp-large: 55em;

$margin-small: 1.5em; // for both margin & padding
$margin-large: 2em; // or center all with a default (horizontal)margin
